<div class="card">
    <svg viewBox="0 0 300 500" xmlns="http://www.w3.org/2000/svg">
        <text x="0" y="100" font-size="1.5rem" class="player-region">
            United Kingdom
        </text>
        <text x="0" y="100" font-size="4rem" class="player-name">
            Phoenix
        </text>
     </svg>
     
    <img src="assets/player/player-phoenix.png" class="champion" alt="image player" />

    <div class="ability">
        <img src="assets/player/phoenix/bullet.svg" />
        <img src="assets/player/phoenix/hand.svg" />
        <img src="assets/player/phoenix/revenge.svg" />
        <img src="assets/player/phoenix/brasier.svg" />
    </div>
</div>