/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Druk Wide Bold";
    src:  url(/assets/font/Druk-Wide-Bold.ttf) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* Global Variable Color*/
    --grey-color : #1F2326;
    --red-color : #FF4656;
    /* Fonts  */
  
  
    background: var(--red-color);
    #bg{
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
}
