:host{
    .ultimate-card{
        width: 20VW;
        z-index: 5;
        background: white;
        border: 1px solid black;


        svg{
            width: 42%;
    
        }
        .text{
            width: 58%;
        }



    }
    
   
}