svg{
    height: 90%;
}

.textrot{
    font-size: 10rem;
    transform: translate(55%, -10%) rotate(90deg);
    font-family: "Druk Wide Bold";
    fill: transparent;
    stroke-width: 2px;
    stroke: white;
}