<div class="skill-card flex">
    <div class="text">
        <h5>{{TypeSkill}}</h5>
        <p class="skill-name">{{TitleSkill}}</p>
        <p class="skill-description">{{DescriptionSkill}}</p>
    </div>
    <!--<img src="/assets/test.png"/>-->
    <svg width="150" height="152" xmlns="http://www.w3.org/2000/svg">
        <rect  x="0" y="75" width="75" height="80" style="fill:var(--red-color)" />
        <image x="35" y="35" width="75" height="75" attr.xlink:href="{{src}}" style="filter: brightness(0);"/>
    
      </svg>
</div>
