:host{
    .agent-card{
        margin-left: 15vw;
        margin-top: 5vh;
        background: #F8F8F8;
        width: 60%;
        height: 60vh;
        overflow: hidden;
        

        img{
            width: 65%;
            transform: translateX(-10vw);
        }
    }
}